@mixin flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@mixin flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @content;
}

